body{
    padding: 0;
    margin: 0;
}

.topbar{
    width: 100%;
    background-color: var(--maroon);
    height: 10vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.topbar img{
    height: 9vw;
    width: auto;
}

.topbarLabel{
    color: var(--white);
    font-size: 3vw;
    display: flex;
}

.barButtons{
    display: flex;
    justify-content: space-around;
    background-color: var(--maroon);
}

.barButtons a{
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: var(--logo-blue);
}

@media screen and (width < 1000px){
    .topbar{
        height: 20vw;
    }

    .topbar img{
        height: 18vw;
    }

    .topbarLabel{
        display: none;
    }
}

.quote{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.quote h1{
    margin: 5px;
    margin-bottom: 0;
}
.quote p{
    margin-top: 0;
    color: var(--teal)
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.story img{
    width: 20vw;
    height: 12.5vw;
    border-radius: 1vw;
    object-fit: cover;
}

.story h1, .story h2, .story p{
    text-align: center;
    margin: 0;
    width: 20vw;
}

.storyRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.storyRowSep{
    height: 5vw;
}

.bigger{
    height: 20vw !important;
}

.biggest{
    height: 100% !important;
}

.percent{
    color: var(--teal);
}

.story2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw; 
}

.story2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

.wideAd{
    display: block;
}

.tallAd{
    display: none;
}

@media screen and (width < 1000px){
    .story{
        width: 80vw;
        margin: 10vw;
    }

    .story h1, .story h2, .story p, .story img{
        width: 80vw;
    }

    .story img{
        width: 80vw;
        height: 50vw;
        border-radius: 5vw;
    }

    .storyRow{
        flex-direction: column;
        align-items: center;
    }

    .storyRowSep{
        height: 0;
    }

    .bigger{
        height: 50vw !important;
    }

    .story2{
        width: 80vw;
        height: 100vw;
    }

    .wideAd{
        display: none;
    }

    .tallAd{
        display: block
    }
}

footer{
    height: 5vw;
}